<section class="home">
  <div class="profile-image">
    <img
      src="/img/default_pfp.jpg"
      alt="Profile Image"
      style="width: 100%; height: 100%; border-radius: 50%"
    />
  </div>
  <div class="username">User Name</div>
  <div class="filter">
    <input type="text" placeholder="Filter tasks..." />
  </div>
  <div class="tasks">
    <div class="task">Task 1</div>
    <div class="task">Task 2</div>
    <div class="task">Task 3</div>
  </div>
</section>
